td, th{
    padding:15px 25px;
    border:1px solid #333;
}

table {
    border:1px solid #333;
    border-collapse:collapse;
}

thead {
    background-color:#ccc;
}

caption {
    font-size:20px;
    color:blue;
}